.mockup-image{
    width:100%;
    height:auto;

    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.mockup-image-container{
    width: 100%;
    height: auto;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.mockup-image img{
    width: 70%;
    height: auto;
    margin-top: -100px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}