<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive nav Button</title>
</head>
<body>

  <div style="background: linear-gradient(90deg, #FF5900 0%, #134B9D 100%);
              width: 100px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 9999px;">

    <div style="background: rgb(0, 0, 0);
                width: 98px;
                height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 9999px;">

      <p style="font-size: 16px;
                font-weight: bold;
                color: white;
                margin: 0;">About Us</p>
    </div>
  </div>

</body>
</html>
