.last-section {
    background-image: url('../images/gradient-transparent-bg-last.png');
    background-color: black;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding-bottom: 10%;
}